div.navbar-container
  div.navbar-wrapper
    nav.navbar
      a(href='/').site-logo
        include ../../public/images/logo.svg

      if locals.mapType
        a.navbar-back-btn(href=`/map/${mapId}`) ← Back
